data/cb_2018_us_county_20m/cb_2018_us_county_20m.shx
data/MappingXCO2_month/MappingXCO2_200904.tif
data/MappingXCO2_month/MappingXCO2_200905.tif
data/MappingXCO2_month/MappingXCO2_200906.tif
data/MappingXCO2_month/MappingXCO2_200907.tif
data/MappingXCO2_month/MappingXCO2_200908.tif
data/MappingXCO2_month/MappingXCO2_200909.tif
data/MappingXCO2_month/MappingXCO2_200910.tif
data/MappingXCO2_month/MappingXCO2_200911.tif
data/MappingXCO2_month/MappingXCO2_200912.tif
data/MappingXCO2_month/MappingXCO2_201001.tif
data/MappingXCO2_month/MappingXCO2_201002.tif
data/MappingXCO2_month/MappingXCO2_201003.tif
data/MappingXCO2_month/MappingXCO2_201004.tif
data/MappingXCO2_month/MappingXCO2_201005.tif
data/MappingXCO2_month/MappingXCO2_201006.tif
data/MappingXCO2_month/MappingXCO2_201007.tif
data/MappingXCO2_month/MappingXCO2_201008.tif
data/MappingXCO2_month/MappingXCO2_201009.tif
data/MappingXCO2_month/MappingXCO2_201010.tif
data/MappingXCO2_month/MappingXCO2_201011.tif
data/MappingXCO2_month/MappingXCO2_201012.tif
data/MappingXCO2_month/MappingXCO2_201101.tif
data/MappingXCO2_month/MappingXCO2_201102.tif
data/MappingXCO2_month/MappingXCO2_201103.tif
data/MappingXCO2_month/MappingXCO2_201104.tif
data/MappingXCO2_month/MappingXCO2_201105.tif
data/MappingXCO2_month/MappingXCO2_201106.tif
data/MappingXCO2_month/MappingXCO2_201107.tif
data/MappingXCO2_month/MappingXCO2_201108.tif
data/MappingXCO2_month/MappingXCO2_201109.tif
data/MappingXCO2_month/MappingXCO2_201110.tif
data/MappingXCO2_month/MappingXCO2_201111.tif
data/MappingXCO2_month/MappingXCO2_201112.tif
data/MappingXCO2_month/MappingXCO2_201201.tif
data/MappingXCO2_month/MappingXCO2_201202.tif
data/MappingXCO2_month/MappingXCO2_201203.tif
data/MappingXCO2_month/MappingXCO2_201204.tif
data/MappingXCO2_month/MappingXCO2_201205.tif
data/MappingXCO2_month/MappingXCO2_201206.tif
data/MappingXCO2_month/MappingXCO2_201207.tif
data/MappingXCO2_month/MappingXCO2_201208.tif
data/MappingXCO2_month/MappingXCO2_201209.tif
data/MappingXCO2_month/MappingXCO2_201210.tif
data/MappingXCO2_month/MappingXCO2_201211.tif
data/MappingXCO2_month/MappingXCO2_201212.tif
data/MappingXCO2_month/MappingXCO2_201301.tif
data/MappingXCO2_month/MappingXCO2_201302.tif
data/MappingXCO2_month/MappingXCO2_201303.tif
data/MappingXCO2_month/MappingXCO2_201304.tif
data/MappingXCO2_month/MappingXCO2_201305.tif
data/MappingXCO2_month/MappingXCO2_201306.tif
data/MappingXCO2_month/MappingXCO2_201307.tif
data/MappingXCO2_month/MappingXCO2_201308.tif
data/MappingXCO2_month/MappingXCO2_201309.tif
data/MappingXCO2_month/MappingXCO2_201310.tif
data/MappingXCO2_month/MappingXCO2_201311.tif
data/MappingXCO2_month/MappingXCO2_201312.tif
data/MappingXCO2_month/MappingXCO2_201401.tif
data/MappingXCO2_month/MappingXCO2_201402.tif
data/MappingXCO2_month/MappingXCO2_201403.tif
data/MappingXCO2_month/MappingXCO2_201404.tif
data/MappingXCO2_month/MappingXCO2_201405.tif
data/MappingXCO2_month/MappingXCO2_201406.tif
data/MappingXCO2_month/MappingXCO2_201407.tif
data/MappingXCO2_month/MappingXCO2_201408.tif
data/MappingXCO2_month/MappingXCO2_201409.tif
data/MappingXCO2_month/MappingXCO2_201410.tif
data/MappingXCO2_month/MappingXCO2_201411.tif
data/MappingXCO2_month/MappingXCO2_201412.tif
data/MappingXCO2_month/MappingXCO2_201501.tif
data/MappingXCO2_month/MappingXCO2_201502.tif
data/MappingXCO2_month/MappingXCO2_201503.tif
data/MappingXCO2_month/MappingXCO2_201504.tif
data/MappingXCO2_month/MappingXCO2_201505.tif
data/MappingXCO2_month/MappingXCO2_201506.tif
data/MappingXCO2_month/MappingXCO2_201507.tif
data/MappingXCO2_month/MappingXCO2_201508.tif
data/MappingXCO2_month/MappingXCO2_201509.tif
data/MappingXCO2_month/MappingXCO2_201510.tif
data/MappingXCO2_month/MappingXCO2_201511.tif
data/MappingXCO2_month/MappingXCO2_201512.tif
data/MappingXCO2_month/MappingXCO2_201601.tif
data/MappingXCO2_month/MappingXCO2_201602.tif
data/MappingXCO2_month/MappingXCO2_201603.tif
data/MappingXCO2_month/MappingXCO2_201604.tif
data/MappingXCO2_month/MappingXCO2_201605.tif
data/MappingXCO2_month/MappingXCO2_201606.tif
data/MappingXCO2_month/MappingXCO2_201607.tif
data/MappingXCO2_month/MappingXCO2_201608.tif
data/MappingXCO2_month/MappingXCO2_201609.tif
data/MappingXCO2_month/MappingXCO2_201610.tif
data/MappingXCO2_month/MappingXCO2_201611.tif
data/MappingXCO2_month/MappingXCO2_201612.tif
data/MappingXCO2_month/MappingXCO2_201701.tif
data/MappingXCO2_month/MappingXCO2_201702.tif
data/MappingXCO2_month/MappingXCO2_201703.tif
data/MappingXCO2_month/MappingXCO2_201704.tif
data/MappingXCO2_month/MappingXCO2_201705.tif
data/MappingXCO2_month/MappingXCO2_201706.tif
data/MappingXCO2_month/MappingXCO2_201707.tif
data/MappingXCO2_month/MappingXCO2_201708.tif
data/MappingXCO2_month/MappingXCO2_201709.tif
data/MappingXCO2_month/MappingXCO2_201710.tif
data/MappingXCO2_month/MappingXCO2_201711.tif
data/MappingXCO2_month/MappingXCO2_201712.tif
data/MappingXCO2_month/MappingXCO2_201801.tif
data/MappingXCO2_month/MappingXCO2_201802.tif
data/MappingXCO2_month/MappingXCO2_201803.tif
data/MappingXCO2_month/MappingXCO2_201804.tif
data/MappingXCO2_month/MappingXCO2_201805.tif
data/MappingXCO2_month/MappingXCO2_201806.tif
data/MappingXCO2_month/MappingXCO2_201807.tif
data/MappingXCO2_month/MappingXCO2_201808.tif
data/MappingXCO2_month/MappingXCO2_201809.tif
data/MappingXCO2_month/MappingXCO2_201810.tif
data/MappingXCO2_month/MappingXCO2_201811.tif
data/MappingXCO2_month/MappingXCO2_201812.tif
data/MappingXCO2_month/MappingXCO2_201901.tif
data/MappingXCO2_month/MappingXCO2_201902.tif
data/MappingXCO2_month/MappingXCO2_201903.tif
data/MappingXCO2_month/MappingXCO2_201904.tif
data/MappingXCO2_month/MappingXCO2_201905.tif
data/MappingXCO2_month/MappingXCO2_201906.tif
data/MappingXCO2_month/MappingXCO2_201907.tif
data/MappingXCO2_month/MappingXCO2_201908.tif
data/MappingXCO2_month/MappingXCO2_201909.tif
data/MappingXCO2_month/MappingXCO2_201910.tif
data/MappingXCO2_month/MappingXCO2_201911.tif
data/MappingXCO2_month/MappingXCO2_201912.tif
data/MappingXCO2_month/MappingXCO2_202001.tif
data/MappingXCO2_month/MappingXCO2_202002.tif
data/MappingXCO2_month/MappingXCO2_202003.tif
data/MappingXCO2_month/MappingXCO2_202004.tif
data/MappingXCO2_month/MappingXCO2_202005.tif
data/MappingXCO2_month/MappingXCO2_202006.tif
data/MappingXCO2_month/MappingXCO2_202007.tif
data/MappingXCO2_month/MappingXCO2_202008.tif
data/MappingXCO2_month/MappingXCO2_202009.tif
data/MappingXCO2_month/MappingXCO2_202010.tif
data/MappingXCO2_month/MappingXCO2_202011.tif
data/MappingXCO2_month/MappingXCO2_202012.tif
data/us-county-boundaries/us-county-boundaries.cpg
data/us-county-boundaries/us-county-boundaries.dbf
data/us-county-boundaries/us-county-boundaries.prj
data/us-county-boundaries/us-county-boundaries.shp
data/us-county-boundaries/us-county-boundaries.shx
data/SVI_2014_US.csv
data/SVI_2016_US.csv
data/SVI_2018_US.csv
data/SVI_2020_US.csv
